NAME;WEIGHT;VALUE
Lorem ipsum dolor sit amet consectetur adipiscing elit. ;11;0
Fusce fermentum posuere turpis, vitae consectetur lorem fringilla eget.;8;9
Sed scelerisque nisi quis sem aliquet aliquet.;2;4
Vivamus congue tristique lorem, eu pretium dolor.;19;4
Donec sollicitudin ac sapien sit amet malesuada.;4;17
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. ;7;8
Phasellus non viverra urna, ac aliquet ligula. Sed sed orci vel massa feugiat semper.;11;16
Suspendisse ullamcorper dui metus, ut facilisis diam pretium eu.;11;15
Suspendisse euismod aliquam ultricies. Integer risus mauris, aliquam sed efficitur eu, sollicitudin at felis.;5;11
Phasellus tempor justo sed volutpat scelerisque.;6;20
Etiam eu massa ex. Suspendisse in dignissim sapien, sit amet consequat lorem.;18;11
Nunc vitae malesuada lorem. Integer at mi luctus, convallis augue et, lobortis purus.;0;3
Vivamus eleifend facilisis augue, nec tincidunt quam luctus quis. ;9;15
Integer placerat massa justo, id elementum velit efficitur nec. ;10;0
Donec augue nulla, hendrerit sit amet enim non, laoreet maximus dolor. ;8;0
Ut vehicula leo non ex pulvinar, ut consectetur orci suscipit. ;9;6
Praesent molestie nibh in gravida lacinia. ;13;15
Integer molestie est at tristique hendrerit. ;15;9
Vestibulum tincidunt elit eget tellus congue gravida. ;0;10
Nunc eget rhoncus metus, at rutrum tellus. Phasellus convallis tincidunt elementum. ;5;15
